{% extends 'base.html' %}
{% block title  %}
analyzed Text
{% endblock title%}
{% block body%}


    <!-----------------------------Alert div start------------------------------------->
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success</strong> Your text has been analyzed !
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <!-----------------------------Alert div end------------------------------------->



    <div class="container">
        <h1>Your Analyzed Text - {{ purpose }} </h1>
       <p>
            <pre>{{ analyzed_text}}</pre><br>
            <!--{{display2}}-->
       </p>   
    </div>
     



{% endblock body%}
